<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tibco.bw.migration.ActivityType">   
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASPutActivityMigrator"
            bw5ResourceType="ae.activities.ASPutActivity"
            bw6ActivityTypeID="bw.asbw.Put">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASGetActivityMigrator"
            bw5ResourceType="ae.activities.ASGetActivity"
            bw6ActivityTypeID="bw.asbw.Get">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASTakeActivityMigrator"
            bw5ResourceType="ae.activities.ASTakeActivity"
            bw6ActivityTypeID="bw.asbw.Take">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASLockActivityMigrator"
            bw5ResourceType="ae.activities.ASLockActivity"
            bw6ActivityTypeID="bw.asbw.Lock">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASUnLockActivityMigrator"
            bw5ResourceType="ae.activities.ASUnLockActivity"
            bw6ActivityTypeID="bw.asbw.UnLock">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASBeginTransactionActivityMigrator"
            bw5ResourceType="ae.activities.ASBeginTransactionActivity"
            bw6ActivityTypeID="bw.asbw.BeginTransaction">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASCommitTransactionMigrator"
            bw5ResourceType="ae.activities.ASCommitTransactionActivity"
            bw6ActivityTypeID="bw.asbw.CommitTransaction">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASRollBackTransactionMigrator"
            bw5ResourceType="ae.activities.ASRollbackTransactionActivity"
            bw6ActivityTypeID="bw.asbw.RollbackTransaction">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASSnapshotMigrator"
            bw5ResourceType="ae.activities.SnapshotActivity"
            bw6ActivityTypeID="bw.asbw.Snapshot">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASSnapshotIteratorMigrator"
            bw5ResourceType="ae.activities.SnapshotIteratorActivity"
            bw6ActivityTypeID="bw.asbw.SnapshotIterator">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASEntryBrowserActivityMigrator"
            bw5ResourceType="ae.activities.EntryBrowserActivity"
            bw6ActivityTypeID="bw.asbw.EntryBrowser">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASEventListenerActivityMigrator"
            bw5ResourceType="ae.activities.EventListenerActivity"
            bw6ActivityTypeID="bw.asbw.EventListener">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASWaitForReadyActivityMigrator"
            bw5ResourceType="ae.activities.ASWaitForReadyActivity"
            bw6ActivityTypeID="bw.asbw.WaitForReady">
      </activityType>
      <!-- 8 new activities -->
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASRemoteInvokeActivityMigrator"
            bw5ResourceType="ae.activities.ASInvokeActivity"
            bw6ActivityTypeID="bw.asbw.RemoteInvoke">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASInvocableResponseActivityMigrator"
            bw5ResourceType="ae.activities.ASInvocableResponseActivity"
            bw6ActivityTypeID="bw.asbw.InvocableResponse">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASInvocableReceiverActivityMigrator"
            bw5ResourceType="ae.activities.ASInvocableReceiverActivity"
            bw6ActivityTypeID="bw.asbw.InvocableReceiver">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASSpaceSizeActivityMigrator"
            bw5ResourceType="ae.activities.ASSpaceSizeActivity"
            bw6ActivityTypeID="bw.asbw.SpaceSize">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASSpaceClearActivityMigrator"
            bw5ResourceType="ae.activities.ASSpaceClearActivity"
            bw6ActivityTypeID="bw.asbw.SpaceClear">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASSpaceResultHandlerActivityMigrator"
            bw5ResourceType="ae.activities.ASSpaceResultHandlerActivity"
            bw6ActivityTypeID="bw.asbw.SpaceResultHandler">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASPersisterReceiverActivityMigrator"
            bw5ResourceType="ae.activities.ASPersisterReceiverActivity"
            bw6ActivityTypeID="bw.asbw.PersisterInvocableReceiver">
      </activityType>
      <activityType
            activityTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASPersisterResponseActivityMigrator"
            bw5ResourceType="ae.activities.ASPersisterResponseActivity"
            bw6ActivityTypeID="bw.asbw.PersisterInvocableResponse">
      </activityType>
   </extension>
   <extension
         point="com.tibco.bw.migration.SharedResourceType">
      <SharedResourceType
            fileExtension="sharedMetaSpacecon"
            sharedResourceTypeMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.sharedresource.MetaSpaceMigrator">
      </SharedResourceType>
   </extension>
   <extension
       point="com.tibco.bw.migration.ActivityType.ResourceReference">
      <activityType bw5ResourceType="ae.activities.ASPutActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASPutActivityMigrator"
             bw6ActivityTypeID="bw.asbw.Put">
      </activityType>
      <activityType bw5ResourceType="ae.activities.ASTakeActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASTakeActivityMigrator"
             bw6ActivityTypeID="bw.asbw.Take">
      </activityType>
      <activityType bw5ResourceType="ae.activities.EventListenerActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASEventListenerActivityMigrator"
             bw6ActivityTypeID="bw.asbw.EventListener">
      </activityType>	
      <activityType bw5ResourceType="ae.activities.EntryBrowserActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASEntryBrowserActivityMigrator"
             bw6ActivityTypeID="bw.asbw.EntryBrowser">
      </activityType>							  
      <activityType bw5ResourceType="ae.activities.ASLockActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASLockActivityMigrator"
             bw6ActivityTypeID="bw.asbw.Lock">
      </activityType>
      <activityType bw5ResourceType="ae.activities.ASUnLockActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASUnLockActivityMigrator"
             bw6ActivityTypeID="bw.asbw.UnLock">
      </activityType>
      <activityType bw5ResourceType="ae.activities.ASWaitForReadyActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASWaitForReadyActivityMigrator"
             bw6ActivityTypeID="bw.asbw.WaitForReady">
      </activityType>
      <activityType bw5ResourceType="ae.activities.SnapshotIteratorActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASSnapshotIteratorMigrator"
             bw6ActivityTypeID="bw.asbw.SnapshotIterator">
      </activityType>
      <activityType bw5ResourceType="ae.activities.SnapshotActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASSnapshotMigrator"
             bw6ActivityTypeID="bw.asbw.Snapshot">
      </activityType>
       <!-- 6 new activities, SpaceSize and SpaceClear do not need -->
      <activityType bw5ResourceType="ae.activities.ASInvokeActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASRemoteInvokeActivityMigrator"
             bw6ActivityTypeID="bw.asbw.RemoteInvoke">
      </activityType>
      <activityType bw5ResourceType="ae.activities.ASInvocableResponseActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASInvocableResponseActivityMigrator"
             bw6ActivityTypeID="bw.asbw.InvocableResponse">
      </activityType>
      <activityType bw5ResourceType="ae.activities.ASInvocableReceiverActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASInvocableReceiverActivityMigrator"
             bw6ActivityTypeID="bw.asbw.InvocableReceiver">
      </activityType>
      <activityType bw5ResourceType="ae.activities.ASSpaceResultHandlerActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASSpaceResultHandlerActivityMigrator"
             bw6ActivityTypeID="bw.asbw.SpaceResultHandler">
      </activityType>
      <activityType bw5ResourceType="ae.activities.ASPersisterReceiverActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASPersisterReceiverActivityMigrator"
             bw6ActivityTypeID="bw.asbw.PersisterInvocableReceiver">
      </activityType>
      <activityType bw5ResourceType="ae.activities.ASPersisterResponseActivity"
             activityTypeResourceRefMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASPersisterResponseActivityMigrator"
             bw6ActivityTypeID="bw.asbw.PersisterInvocableResponse">
      </activityType>
    </extension>
   <extension
         point="com.tibco.bw.migration.ActivityTypeSignature">
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASPutActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASTakeActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASGetActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASLockActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASUnLockActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASWaitForReadyActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.SnapshotIteratorActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.SnapshotActivity">
      </activityTypeSignature>
       <!-- 8 new activities -->
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASInvokeActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASInvocableResponseActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASInvocableReceiverActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASSpaceSizeActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASSpaceClearActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASSpaceResultHandlerActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASPersisterReceiverActivity">
      </activityTypeSignature>
      <activityTypeSignature
            activityTypeSignatureMigratorClass="com.tibco.bw.tools.migrator.v6.palette.activespace.activities.ASActivitySignatureMigrator"
            bw5ResourceType="ae.activities.ASPersisterResponseActivity">
      </activityTypeSignature>
   </extension>
</plugin>
