<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension
         point="com.tibco.amf.design.sr.core.sharedResourceExtension">
      <srExtension
            fileExtension="activespacesResource"
            name="Metaspace"
            typeQName="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}Metaspace">
      </srExtension>
	  <srExtension
            fileExtension="activespacesResource"
            name="SpaceConnection"
            typeQName="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}SpaceConnection">
      </srExtension>
   </extension>
   <extension
         point="com.tibco.amf.design.sr.core.sharedResourceCreator">
      <sharedResourceCreator
            sharedResourceType="activespacesResource"
            wizard="com.tibco.bw.sharedresource.activespace.design.wizard.ActiveSpaceWizard">
      </sharedResourceCreator>
   </extension>
   <extension
         point="com.tibco.bw.design.propertyType">
      <propertyTypeToITBinding
            implementationTypeID="implementation.bw"
            supportedPropertyType="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}Metaspace">
      </propertyTypeToITBinding>
      <propertyTypeToITBinding
            implementationTypeID="implementation.bw"
            supportedPropertyType="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}Space">
      </propertyTypeToITBinding>
      <propertyTypeToITBinding
            implementationTypeID="implementation.bw"
            supportedPropertyType="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}SpaceConnection">
      </propertyTypeToITBinding>
      <propertyType
            QName="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}Metaspace"
            cellEditor="com.tibco.bw.sharedresource.common.design.internal.picker.SharedResourceCellEditor:activespacesResource/Metaspace"
            editControl="com.tibco.amf.design.sr.ui.internal.picker.SharedResourcePropertyValueViewer:activespacesResource"
            icon="icons/obj16/metaspace_16x16.png"
            typeLabel="Metaspace">
      </propertyType>
            <propertyType
            QName="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}Space"
            cellEditor="com.tibco.bw.sharedresource.common.design.internal.picker.SharedResourceCellEditor:activespacesResource/Space"
            editControl="com.tibco.amf.design.sr.ui.internal.picker.SharedResourcePropertyValueViewer:activespacesResource"
            icon="icons/obj16/metaspace_16x16.png"
            typeLabel="Space">
      </propertyType>
            <propertyType
            QName="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}SpaceConnection"
            cellEditor="com.tibco.bw.sharedresource.common.design.internal.picker.SharedResourceCellEditor:activespacesResource/SpaceConnection"
            editControl="com.tibco.amf.design.sr.ui.internal.picker.SharedResourcePropertyValueViewer:activespacesResource"
            icon="icons/obj16/metaspace_16x16.png"
            typeLabel="Space Connection">
      </propertyType>
   </extension>
   <extension
         point="com.tibco.bw.sharedresource.common.design.BWSharedResource">
      <resourcetype
            productID="bw.activespace.product"
            resourceQName="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}Metaspace">
         <requirement
               requirementName="bw.activespace"
               requirementNamespace="com.tibco.bw.sharedresource.model">
         </requirement>
      </resourcetype>
   </extension>
   <extension
         point="com.tibco.xpd.resources.workingCopyIndexer">
      <indexer
            filePattern="activespacesResource"
            indexID="sr.index.activespacesResource"
            indexerClass="com.tibco.amf.design.sr.core.internal.wc.GenericSharedResourceIndexProvider">
      </indexer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.tibco.new"
            class="com.tibco.bw.sharedresource.activespace.design.wizard.ActiveSpaceWizard"
            descriptionImage="icons/obj48/metaspace_48x48.png"
            icon="icons/obj16/metaspace_16x16.png"
            id="com.tibco.bw.sharedresource.activespace.design.wizard"
            name="%activespace.sharedresource.name">       
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.tibco.bw.sharedresource.activespace.design.wizard.ActiveSpaceSharedResourceEditor"
            contributorClass="com.tibco.bw.sharedresource.common.design.forms.SREditorContributor"
            default="false"
            extensions="activespacesResource"
            icon="icons/obj16/metaspace_16x16.png"
            id="com.tibco.bw.sharedresource.activespace.design.editor"
            name="%activespace.display.activity.name">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="com.tibco.bw.sharedresource.as.navigator.modelData"/>
			</includes>
		</viewerContentBinding>
		<viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<actionExtension pattern="com.tibco.bw.sharedresource.as.ui.OpenProvider"/>
			</includes>
		</viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent activeByDefault="true" 
      		id="com.tibco.bw.sharedresource.as.navigator.modelData" 
      		contentProvider="com.tibco.bw.sharedresource.activespace.design.navigator.NavigatorAsFactoryContentProvider" 
      		labelProvider="com.tibco.bw.sharedresource.activespace.design.navigator.NavigatorAsFactoryLabelProvider" 
      		name="AS Groups" priority="high">
	      <possibleChildren>
			  <or>
			  	  <and>
					  <instanceof value="org.eclipse.core.resources.IResource"/>
					  <or>
						  <test forcePluginActivation="true" property="org.eclipse.core.resources.extension" value="activespacesResource"/>
					  </or>
				  </and>
				  <instanceof value="com.tibco.bw.sharedresource.activespace.model.assr.Space"/>
				  <instanceof value="com.tibco.bw.sharedresource.activespace.model.assr.SpaceConnection"/>
			  </or>
		  </possibleChildren>
		  <triggerPoints>
			  <or>
				  <and>
					  <instanceof value="org.eclipse.core.resources.IResource"/>
					  <or>
						  <test forcePluginActivation="true" property="org.eclipse.core.resources.extension" value="activespacesResource"/>
					  </or>
				  </and>
				  <instanceof value="com.tibco.bw.sharedresource.activespace.model.assr.Space"/>
				  <instanceof value="com.tibco.bw.sharedresource.activespace.model.assr.SpaceConnection"/>
			  </or>
		  </triggerPoints>
		  <actionProvider 
		  		 class="com.tibco.bw.sharedresource.activespace.design.navigator.action.PageActionProvider"
		  		 id="com.tibco.bw.sharedresource.as.ui.OpenProvider"/>
	      <commonSorter
	          class="com.tibco.bw.sharedresource.activespace.design.navigator.NavigatorSorter">
	      </commonSorter>
	  </navigatorContent>
      <commonWizard
            associatedExtensionId="com.tibco.xpd.projectExplorer.compositeContent"
            menuGroupId="shared-resources"
            type="new"
            wizardId="com.tibco.bw.sharedresource.activespace.design.wizard">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.tibco.xpd.resources.projectconfig.SpecialFolder">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isOfKind"
                        value="com.tibco.amx.zion.resource">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <test
                        property="com.tibco.xpd.resources.specialfolder.isRootSpecialFolder"
                        value="com.tibco.amx.zion.resource">
                  </test>
               </and>
            </or>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            class="com.tibco.bw.sharedresource.activespace.design.provider.AssrItemProviderAdapterFactory"
            uri="http://xsd.tns.tibco.com/bw/models/sharedresource/activespace"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource">
      </factory>
   </extension>
   <extension
         point="com.tibco.amf.sca.model.validation.controlDecorator">
      <constraintsBinderExtensionElement
            constraintId="com.tibco.amf.design.sr.metaspace.metaspacename.namedResourceReferenceValueNotEmpty"
            controlId="assr_Metaspace_metaspaceName">
      </constraintsBinderExtensionElement>
      <constraintsBinderExtensionElement
            constraintId="com.tibco.amf.design.sr.space.keydefinitionfieldname.namedResourceReferenceValueNotEmpty"
            controlId="ass_Space_KeyDefinitionFieldName">
      </constraintsBinderExtensionElement>
      <constraintsBinderExtensionElement
            constraintId="com.tibco.amf.design.sr.space.fielddefinitionfieldname.namedResourceReferenceValueNotEmpty"
            controlId="ass_Space_FieldDefinitionFieldName">
      </constraintsBinderExtensionElement>
      <constraintsBinderExtensionElement
            constraintId="com.tibco.amf.design.sr.space.indexdefinitionindexname.namedResourceReferenceValueNotEmpty"
            controlId="ass_Space_IndexDefinitionIndexName">
      </constraintsBinderExtensionElement>
      <constraintsBinderExtensionElement
            constraintId="com.tibco.amf.design.sr.space.spacename.namedResourceReferenceValueNotEmpty"
            controlId="ass_Space_SpaceName">
      </constraintsBinderExtensionElement>
      <constraintsBinderExtensionElement
            constraintId="com.tibco.amf.design.sr.spaceconnection.spaceconnectionname.namedResourceReferenceValueNotEmpty"
            controlId="ass_SpaceConnection_SpaceConnectionName">
      </constraintsBinderExtensionElement>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="sr.validation.category"
            name="sr.validation.category.name">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://xsd.tns.tibco.com/bw/models/sharedresource/activespace">
         </package>
         <constraints
               categories="sr.validation.category">
            <constraint
                  class="com.tibco.bw.sharedresource.activespace.design.validation.MetaspaceNameValidator"
                  id="com.tibco.amf.design.sr.metaspace.metaspacename.namedResourceReferenceValueNotEmpty"
                  lang="Java"
                  mode="Live"
                  name="metaspaceName"
                  severity="ERROR"
                  statusCode="1005">
               <target
                     class="Metaspace">
               </target>
               <message>
                  %metaspace.metaspacename.validaton.message
               </message>
            </constraint>
            
            <constraint
                  class="com.tibco.bw.sharedresource.activespace.design.validation.SpaceKeyDefinitionFieldNameValidator"
                  id="com.tibco.amf.design.sr.space.keydefinitionfieldname.namedResourceReferenceValueNotEmpty"
                  lang="java"
                  mode="Live"
                  name="keyDef"
                  severity="ERROR"
                  statusCode="1006">
               <message>
                  %space.keydef.fieldname.validation.message
               </message>
               <target
                     class="SpaceKeyDefinition">
               </target>
               <target
                     class="Space">
               </target>
            </constraint>
         
         	<constraint
                  class="com.tibco.bw.sharedresource.activespace.design.validation.SpaceFieldDefinitionFieldNameValidator"
                  id="com.tibco.amf.design.sr.space.fielddefinitionfieldname.namedResourceReferenceValueNotEmpty"
                  lang="java"
                  mode="Live"
                  name="FieldDef"
                  severity="ERROR"
                  statusCode="2007">
               <message>
                  %space.fielddef.fieldname.validation.message
               </message>
               <target
                     class="SpaceFieldDefinition"></target>
               <target
                     class="Space">
               </target>
            </constraint>
            
            <constraint
                  class="com.tibco.bw.sharedresource.activespace.design.validation.SpaceIndexDefinitionIndexNameValidator"
                  id="com.tibco.amf.design.sr.space.indexdefinitionindexname.namedResourceReferenceValueNotEmpty"
                  lang="java"
                  mode="Live"
                  name="IndexDef"
                  severity="ERROR"
                  statusCode="2008">
               <message>
                  %space.indexdef.fieldname.validation.message
               </message>
               <target
                     class="SpaceIndexDefinition"></target>
               <target
                     class="Space">
               </target>
            </constraint>
            
            <constraint
                  class="com.tibco.bw.sharedresource.activespace.design.validation.SpaceNameValidator"
                  id="com.tibco.amf.design.sr.space.spacename.namedResourceReferenceValueNotEmpty"
                  lang="java"
                  mode="Live"
                  name="spaceName"
                  severity="ERROR"
                  statusCode="2009">
               <message>
                  %space.spacename.validation.message
               </message>
               <target
                     class="Space">
               </target>
               <target
                     class="Metaspace">
               </target>
            </constraint>
            
            <constraint
                  class="com.tibco.bw.sharedresource.activespace.design.validation.SpaceConnectionNameValidator"
                  id="com.tibco.amf.design.sr.spaceconnection.spaceconnectionname.namedResourceReferenceValueNotEmpty"
                  lang="java"
                  mode="Live"
                  name="spaceconnectionName"
                  severity="ERROR"
                  statusCode="3001">
               <message>
                  %spaceconnection.spaceconnectionname.validation.message
               </message>
               <target
                     class="SpaceConnection"></target>
               <target
                     class="Space">
               </target>
            </constraint>
            
         </constraints>
      </constraintProvider>
   </extension>
</plugin>
