<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension
         point="com.tibco.bw.design.Palette">
      <paletteDrawer
            expanded="false"
            name="%activespace.palette.name"
            paletteID="bw.activespace"
            priority="500"
            productID="bw.activespace.product"
            smallIcon="icons/obj16/activespace_16x16.png"
            tooltip="%activespace.palette.tooltip">
      </paletteDrawer>
   </extension>
   
   <extension
         point="com.tibco.bw.design.ActivityType">
      <activityType
            activityTypeID="bw.asbw.BeginTransaction"
            name="%activespace.activity.BeginTransaction.name"
            priority="500"
            tooltip="%activespace.activity.BeginTransaction.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <activityType
            activityTypeID="bw.asbw.RollbackTransaction"
            name="%activespace.activity.RollbackTransaction.name"
            priority="700"
            tooltip="%activespace.activity.RollbackTransaction.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.asbw.CommitTransaction"
            name="%activespace.activity.CommitTransaction.name"
            priority="800"
            tooltip="%activespace.activity.CommitTransaction.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <activityType
            activityTypeID="bw.asbw.Put"
            name="%activespace.activity.Put.name"
            priority="900"
            tooltip="%activespace.activity.Put.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <activityType
            activityTypeID="bw.asbw.Take"
            name="%activespace.activity.Take.name"
            priority="1000"
            tooltip="%activespace.activity.Take.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.asbw.Get"
            name="%activespace.activity.Get.name"
            priority="1100"
            tooltip="%activespace.activity.Get.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
	  
      <activityType
	        activityTypeID="bw.asbw.WaitForReady"
	        name="%activespace.activity.WaitForReady.name"
	        priority="1200"
	        tooltip="%activespace.activity.WaitForReady.tooltip"
	        visible="true">
	     <palette
	           paletteID="bw.activespace">
	     </palette>
	  </activityType>
	  
	  <activityType
            activityTypeID="bw.asbw.Lock"
            name="%activespace.activity.Lock.name"
            priority="1300"
            tooltip="%activespace.activity.Lock.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
 
      <activityType
            activityTypeID="bw.asbw.UnLock"
            name="%activespace.activity.UnLock.name"
            priority="1400"
            tooltip="%activespace.activity.UnLock.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      <activityType
            activityTypeID="bw.asbw.EntryBrowser"
            canCreateInstance="true"
            isEventSource="true"
            name="%activespace.activity.EntryBrowser.name"
            priority="1500"
            tooltip="%activespace.activity.EntryBrowser.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
       <activityType
            activityTypeID="bw.asbw.Snapshot"
            name="%activespace.activity.Snapshot.name"
            priority="1600"
            tooltip="%activespace.activity.Snapshot.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      <activityType
            activityTypeID="bw.asbw.SnapshotIterator"
            name="%activespace.activity.SnapshotIterator.name"
            priority="1700"
            tooltip="%activespace.activity.SnapshotIterator.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>

      <activityType
            activityTypeID="bw.asbw.EventListener"
            canCreateInstance="true"
            isEventSource="true"
            name="%activespace.activity.EventListener.name"
            priority="1800"
            tooltip="%activespace.activity.EventListener.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <activityType
            activityTypeID="bw.asbw.RemoteInvoke"
            name="%activespace.activity.RemoteInvoke.name"
            priority="1900"
            tooltip="%activespace.activity.RemoteInvoke.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <!--Add PersisterInvocableReceiver-->
      <activityType
            activityTypeID="bw.asbw.PersisterInvocableReceiver"
            canCreateInstance="true"
            isEventSource="true"
            name="%activespace.activity.PersisterInvocableReceiver.name"
            priority="2000"
            tooltip="%activespace.activity.PersisterInvocableReceiver.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <!--Add PersisterInvocableResponse-->
      <activityType
            activityTypeID="bw.asbw.PersisterInvocableResponse"
            name="%activespace.activity.PersisterInvocableResponse.name"
            priority="2000"
            tooltip="%activespace.activity.PersisterInvocableResponse.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      <activityType
            activityTypeID="bw.asbw.InvocableReceiver"
            canCreateInstance="true"
            isEventSource="true"
            name="%activespace.activity.InvocableReceiver.name"
            priority="2000"
            tooltip="%activespace.activity.InvocableReceiver.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
       <activityType
             activityTypeID="bw.asbw.InvocableResponse"
             name="%activespace.activity.InvocableResponse.name"
             priority="2100"
             tooltip="%activespace.activity.InvocableResponse.tooltip"
             visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <activityType
            activityTypeID="bw.asbw.SpaceResultHandler"
            canCreateInstance="true"
            isEventSource="true"
            name="%activespace.activity.SpaceResultHandler.name"
            priority="2200"
            tooltip="%activespace.activity.SpaceResultHandler.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <activityType
            activityTypeID="bw.asbw.SpaceSize"
            name="%activespace.activity.SpaceSize.name"
            priority="2300"
            tooltip="%activespace.activity.SpaceSize.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
      
      <activityType
            activityTypeID="bw.asbw.SpaceClear"
            name="%activespace.activity.SpaceClear.name"
            priority="2400"
            tooltip="%activespace.activity.SpaceClear.tooltip"
            visible="true">
         <palette
               paletteID="bw.activespace">
         </palette>
      </activityType>
   </extension>
   
     <extension
         point="com.tibco.bw.design.ActivitySignature">
         
       <signature
            activityTypeID="bw.asbw.SnapshotIterator"
            signatureClass="com.tibco.bw.palette.activespace.design.snapshotiterator.SnapshotIteratorSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.EventListener"
            signatureClass="com.tibco.bw.palette.activespace.design.eventlistener.EventListenerSignature">
      </signature>
       
       
       <signature
            activityTypeID="bw.asbw.Snapshot"
            signatureClass="com.tibco.bw.palette.activespace.design.snapshot.SnapshotSignature">
      </signature>
      
      <signature
            activityTypeID="bw.asbw.EntryBrowser"
            signatureClass="com.tibco.bw.palette.activespace.design.entrybrowser.EntryBrowserSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.BeginTransaction"
            signatureClass="com.tibco.bw.palette.activespace.design.begintransaction.BeginTransactionSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.RollbackTransaction"
            signatureClass="com.tibco.bw.palette.activespace.design.rollbacktransaction.RollbackTransactionSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.CommitTransaction"
            signatureClass="com.tibco.bw.palette.activespace.design.committransaction.CommitTransactionSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.Put"
            signatureClass="com.tibco.bw.palette.activespace.design.put.PutSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.Take"
            signatureClass="com.tibco.bw.palette.activespace.design.take.TakeSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.Get"
            signatureClass="com.tibco.bw.palette.activespace.design.get.GetSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.WaitForReady"
            signatureClass="com.tibco.bw.palette.activespace.design.waitforready.WaitForReadySignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.Lock"
            signatureClass="com.tibco.bw.palette.activespace.design.lock.LockSignature">
      </signature>
      <signature
            activityTypeID="bw.asbw.UnLock"
            signatureClass="com.tibco.bw.palette.activespace.design.unlock.UnLockSignature">
      </signature>
      
      <signature
            activityTypeID="bw.asbw.RemoteInvoke"
            signatureClass="com.tibco.bw.palette.activespace.design.remoteInvoke.RemoteInvokeSignature">
      </signature>
      
      <!--add persisterInvocableReceiver signature-->
      <signature
            activityTypeID="bw.asbw.PersisterInvocableReceiver"
            signatureClass="com.tibco.bw.palette.activespace.design.persisterInvocableReceiver.PersisterInvocableReceiverSignature">
      </signature>
      
      <!--add persisterInvocableResponse signature-->
      <signature
            activityTypeID="bw.asbw.PersisterInvocableResponse"
            signatureClass="com.tibco.bw.palette.activespace.design.persisterInvocableResponse.PersisterInvocableResponseSignature">
      </signature>
      
   	   <signature
            activityTypeID="bw.asbw.InvocableReceiver"
            signatureClass="com.tibco.bw.palette.activespace.design.invocable.InvocableReceiverSignature">
      </signature>
      
      <signature
            activityTypeID="bw.asbw.InvocableResponse"
            signatureClass="com.tibco.bw.palette.activespace.design.invocableresponse.InvocableResponseSignature">
      </signature>
      
	  <signature
            activityTypeID="bw.asbw.SpaceResultHandler"
            signatureClass="com.tibco.bw.palette.activespace.design.spaceresulthandler.SpaceResultHandlerSignature">
      </signature>      
	  <signature
            activityTypeID="bw.asbw.SpaceSize"
            signatureClass="com.tibco.bw.palette.activespace.design.spacesize.SpaceSizeSignature">
      </signature>      
	  <signature
            activityTypeID="bw.asbw.SpaceClear"
            signatureClass="com.tibco.bw.palette.activespace.design.spaceclear.SpaceClearSignature">
      </signature>   </extension>
   
   <extension
         point="com.tibco.bw.design.ActivityTypeConfigEMF">
      
      <config
            activityTypeID="bw.asbw.EntryBrowser"
            eClassName="EntryBrowser"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.EntryBrowser.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.entrybrowser.EntryBrowserModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.Snapshot"
            eClassName="Snapshot"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.Snapshot.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.snapshot.SnapshotModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.SnapshotIterator"
            eClassName="SnapshotIterator"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.SnapshotIterator.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.snapshotiterator.SnapshotIteratorModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.EventListener"
            eClassName="EventListener"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.EventListener.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.eventlistener.EventListenerModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.Put"
            eClassName="Put"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.Put.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.put.PutModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.BeginTransaction"
            eClassName="BeginTransaction"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.BeginTransaction.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.begintransaction.BeginTransactionModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.RollbackTransaction"
            eClassName="RollbackTransaction"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.RollbackTransaction.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.rollbacktransaction.RollbackTransactionModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.CommitTransaction"
            eClassName="CommitTransaction"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.CommitTransaction.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.committransaction.CommitTransactionModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.Take"
            eClassName="Take"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.Take.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.take.TakeModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.Get"
            eClassName="Get"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.Get.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.get.GetModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.WaitForReady"
            eClassName="WaitForReady"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.WaitForReady.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.waitforready.WaitForReadyModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.Lock"
            eClassName="Lock"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.Lock.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.lock.LockModelHelper">
      </config>
      <config
            activityTypeID="bw.asbw.UnLock"
            eClassName="UnLock"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.UnLock.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.unlock.UnLockModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.RemoteInvoke"
            eClassName="RemoteInvoke"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.RemoteInvoke.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.remoteInvoke.RemoteInvokeModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.PersisterInvocableReceiver"
            eClassName="PersisterInvocableReceiver"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.PersisterInvocableReceiver.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.persisterInvocableReceiver.PersisterInvocableReceiverModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.PersisterInvocableResponse"
            eClassName="PersisterInvocableResponse"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.PersisterInvocableResponse.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.persisterInvocableResponse.PersisterInvocableResponseModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.InvocableReceiver"
            eClassName="InvocableReceiver"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.InvocableReceiver.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.invocable.InvocableReceiverModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.InvocableResponse"
            eClassName="InvocableResponse"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.InvocableResponse.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.invocableresponse.InvocableResponseModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.SpaceResultHandler"
            eClassName="SpaceResultHandler"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.SpaceResultHandler.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.spaceresulthandler.SpaceResultHandlerModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.SpaceSize"
            eClassName="SpaceSize"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.SpaceSize.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.spacesize.SpaceSizeModelHelper">
      </config>
      
      <config
            activityTypeID="bw.asbw.SpaceClear"
            eClassName="SpaceClear"
            ePackageNSURI="http://ns.tibco.com/bw/palette/as"
            instanceName="%activespace.activity.default.SpaceClear.name"
            modelHelperClass="com.tibco.bw.palette.activespace.design.spaceclear.SpaceClearModelHelper">
      </config>
   </extension>

   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.tibco.bw.core.design.process.editor">
            
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.entrybrowser.EntryBrowserGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.entrybrowser.EntryBrowserGeneralSection"
               id="bw.activespace.EntryBrowser.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.activespace.design.entrybrowser.EntryBrowserAdvancedSection"
               filter="com.tibco.bw.palette.activespace.design.entrybrowser.EntryBrowserAdvancedSection"
               id="bw.activespace.EntryBrowser.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.snapshot.SnapshotGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.snapshot.SnapshotGeneralSection"
               id="bw.activespace.Snapshot.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.put.PutGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.put.PutGeneralSection"
               id="bw.activespace.Put.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         
         <propertySection
               class="com.tibco.bw.palette.activespace.design.put.PutAdvancedSection"
               filter="com.tibco.bw.palette.activespace.design.put.PutAdvancedSection"
               id="bw.activespace.Put.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
                  <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.begintransaction.BeginTransactionGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.begintransaction.BeginTransactionGeneralSection"
               id="bw.activespace.BeginTransaction.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.take.TakeGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.take.TakeGeneralSection"
               id="bw.activespace.Take.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.activespace.design.take.TakeAdvancedSection"
               filter="com.tibco.bw.palette.activespace.design.take.TakeAdvancedSection"
               id="bw.activespace.Take.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.get.GetGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.get.GetGeneralSection"
               id="bw.activespace.Get.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.waitforready.WaitForReadyGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.waitforready.WaitForReadyGeneralSection"
               id="bw.activespace.WaitForReady.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.lock.LockGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.lock.LockGeneralSection"
               id="bw.activespace.Lock.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.activespace.design.lock.LockAdvancedSection"
               filter="com.tibco.bw.palette.activespace.design.lock.LockAdvancedSection"
               id="bw.activespace.Lock.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.unlock.UnLockGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.unlock.UnLockGeneralSection"
               id="bw.activespace.UnLock.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.activespace.design.unlock.UnLockAdvancedSection"
               filter="com.tibco.bw.palette.activespace.design.unlock.UnLockAdvancedSection"
               id="bw.activespace.UnLock.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
             <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.rollbacktransaction.RollbackTransactionGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.rollbacktransaction.RollbackTransactionGeneralSection"
               id="bw.activespace.RollbackTransaction.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.committransaction.CommitTransactionGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.committransaction.CommitTransactionGeneralSection"
               id="bw.activespace.CommitTransaction.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.activespace.design.snapshot.SnapshotAdvancedSection"
               filter="com.tibco.bw.palette.activespace.design.snapshot.SnapshotAdvancedSection"
               id="bw.activespace.Snapshot.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.snapshotiterator.SnapshotIteratorGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.snapshotiterator.SnapshotIteratorGeneralSection"
               id="bw.activespace.SnapshotIterator.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.activespace.design.snapshotiterator.SnapshotIteratorAdvancedSection"
               filter="com.tibco.bw.palette.activespace.design.snapshotiterator.SnapshotIteratorAdvancedSection"
               id="bw.activespace.SnapshotIterator.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.eventlistener.EventListenerGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.eventlistener.EventListenerGeneralSection"
               id="bw.activespace.EventListener.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         <propertySection
               class="com.tibco.bw.palette.activespace.design.eventlistener.EventListenerAdvancedSection"
               filter="com.tibco.bw.palette.activespace.design.eventlistener.EventListenerAdvancedSection"
               id="bw.activespace.EventListener.advanced"
               tab="tibco.bw.activity.property.tab.advanced">
         </propertySection>
         
          <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.remoteInvoke.RemoteInvokeGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.remoteInvoke.RemoteInvokeGeneralSection"
               id="bw.activespace.RemoteInvoke.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.persisterInvocableReceiver.PersisterInvocableReceiverGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.persisterInvocableReceiver.PersisterInvocableReceiverGeneralSection"
               id="bw.activespace.PersisterInvocableReceiver.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.persisterInvocableResponse.PersisterInvocableResponseGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.persisterInvocableResponse.PersisterInvocableResponseGeneralSection"
               id="bw.activespace.PersisterInvocableResponse.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.invocable.InvocableReceiverGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.invocable.InvocableReceiverGeneralSection"
               id="bw.activespace.invocable.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         
          <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.invocableresponse.InvocableResponseGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.invocableresponse.InvocableResponseGeneralSection"
               id="bw.activespace.invocableresponse.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         
          <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.spaceresulthandler.SpaceResultHandlerGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.spaceresulthandler.SpaceResultHandlerGeneralSection"
               id="bw.activespace.spaceresulthandler.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.spacesize.SpaceSizeGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.spacesize.SpaceSizeGeneralSection"
               id="bw.activespace.spacesize.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
         
         <propertySection
               afterSection="com.tibco.bw.design.activity.general"
               class="com.tibco.bw.palette.activespace.design.spaceclear.SpaceClearGeneralSection"
               filter="com.tibco.bw.palette.activespace.design.spaceclear.SpaceClearGeneralSection"
               id="bw.activespace.spaceclear.general"
               tab="tibco.bw.activity.property.tab.general">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="com.tibco.bw.design.propertyType">
       <propertyTypeToITBinding
            implementationTypeID="implementation.bw"
            supportedPropertyType="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}Metaspace">
       </propertyTypeToITBinding> 
       <propertyTypeToITBinding
            implementationTypeID="implementation.bw"
            supportedPropertyType="{http://xsd.tns.tibco.com/bw/models/sharedresource/activespace}SpaceConnection">
       </propertyTypeToITBinding>       
	</extension>
	   <extension
         point="com.tibco.bw.design.BWContextHelp">
      <plugin
            defaultURL="https://docs.tibco.com/pub/activematrix-businessworks-plugin-for-activespaces/6.2.0/doc/html/"
            id="bw.activespace.product"
            name="BusinessWorks ActiveSpaces Plugin">
      </plugin>
   </extension>
</plugin>
